@model Models.Alumno

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>Alumno</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Grado" class="control-label"></label>
                <input asp-for="Grado" class="form-control" />
                <span asp-validation-for="Grado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seccion" class="control-label"></label>
                <input asp-for="Seccion" class="form-control" />
                <span asp-validation-for="Seccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoDocumento" class="control-label"></label>
                <input asp-for="TipoDocumento" class="form-control" />
                <span asp-validation-for="TipoDocumento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroDocumento" class="control-label"></label>
                <input asp-for="NumeroDocumento" class="form-control" />
                <span asp-validation-for="NumeroDocumento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValidadoReniec" class="control-label"></label>
                <input asp-for="ValidadoReniec" class="form-control" />
                <span asp-validation-for="ValidadoReniec" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoEstudiante" class="control-label"></label>
                <input asp-for="CodigoEstudiante" class="form-control" />
                <span asp-validation-for="CodigoEstudiante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApellidoPaterno" class="control-label"></label>
                <input asp-for="ApellidoPaterno" class="form-control" />
                <span asp-validation-for="ApellidoPaterno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApellidoMaterno" class="control-label"></label>
                <input asp-for="ApellidoMaterno" class="form-control" />
                <span asp-validation-for="ApellidoMaterno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombres" class="control-label"></label>
                <input asp-for="Nombres" class="form-control" />
                <span asp-validation-for="Nombres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sexo" class="control-label"></label>
                <input asp-for="Sexo" class="form-control" />
                <span asp-validation-for="Sexo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaNacimiento" class="control-label"></label>
                <input asp-for="FechaNacimiento" class="form-control" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoMatricula" class="control-label"></label>
                <input asp-for="EstadoMatricula" class="form-control" />
                <span asp-validation-for="EstadoMatricula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SituacionMatricula" class="control-label"></label>
                <input asp-for="SituacionMatricula" class="form-control" />
                <span asp-validation-for="SituacionMatricula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pais" class="control-label"></label>
                <input asp-for="Pais" class="form-control" />
                <span asp-validation-for="Pais" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PadreVive" class="control-label"></label>
                <input asp-for="PadreVive" class="form-control" />
                <span asp-validation-for="PadreVive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MadreVive" class="control-label"></label>
                <input asp-for="MadreVive" class="form-control" />
                <span asp-validation-for="MadreVive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LenguaMaterna" class="control-label"></label>
                <input asp-for="LenguaMaterna" class="form-control" />
                <span asp-validation-for="LenguaMaterna" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SegundaLengua" class="control-label"></label>
                <input asp-for="SegundaLengua" class="form-control" />
                <span asp-validation-for="SegundaLengua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrabajaEstudiante" class="control-label"></label>
                <input asp-for="TrabajaEstudiante" class="form-control" />
                <span asp-validation-for="TrabajaEstudiante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HorasLabora" class="control-label"></label>
                <input asp-for="HorasLabora" class="form-control" />
                <span asp-validation-for="HorasLabora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EscolaridadMadre" class="control-label"></label>
                <input asp-for="EscolaridadMadre" class="form-control" />
                <span asp-validation-for="EscolaridadMadre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoDiscapacidad" class="control-label"></label>
                <input asp-for="TipoDiscapacidad" class="form-control" />
                <span asp-validation-for="TipoDiscapacidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoModular" class="control-label"></label>
                <input asp-for="CodigoModular" class="form-control" />
                <span asp-validation-for="CodigoModular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreRjrd" class="control-label"></label>
                <input asp-for="NombreRjrd" class="form-control" />
                <span asp-validation-for="NombreRjrd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaCreacion" class="control-label"></label>
                <input asp-for="FechaCreacion" class="form-control" />
                <span asp-validation-for="FechaCreacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaModificacion" class="control-label"></label>
                <input asp-for="FechaModificacion" class="form-control" />
                <span asp-validation-for="FechaModificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserCreacion" class="control-label"></label>
                <input asp-for="UserCreacion" class="form-control" />
                <span asp-validation-for="UserCreacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserModificacion" class="control-label"></label>
                <input asp-for="UserModificacion" class="form-control" />
                <span asp-validation-for="UserModificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
