@{
    ViewData["Title"] = "Ayuda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-12">
    <h2 class="page-title">Ayuda</h2>
    <div class="row my-4">
        <div class="col-md-6">
            <div class="card shadow bg-primary text-center mb-4">
                <div class="card-body p-5">
                    <span class="circle circle-md bg-primary-light">
                        <i class="fe fe-navigation fe-24 text-white"></i>
                    </span>
                    <h3 class="h4 mt-4 mb-1 text-white">Manejo de la Aplicación</h3>
                    <p class="text-white mb-4">¿No sabes cómo usar la aplicación?</p>
                    <a href="https://youtu.be/ME2Y7bHVIdg" class="btn btn-lg bg-primary-light text-white">Ver video de ayuda<i class="fe fe-arrow-right fe-16 ml-2"></i></a>
                </div> <!-- .card-body -->
            </div> <!-- .card -->
        </div> <!-- .col-md-->
        <div class="col-md-6">
            <div class="card shadow bg-success text-center mb-4">
                <div class="card-body p-5">
                    <span class="circle circle-md bg-success-light">
                        <i class="fe fe-message-circle fe-24 text-white"></i>
                    </span>
                    <h3 class="h4 mt-4 mb-1 text-white">Elaboración de informes</h3>
                    <p class="text-white mb-4">¿No sabes cómo elaborar un informe?</p>
                    <a href="https://youtu.be/ME2Y7bHVIdg" class="btn btn-lg bg-success-light text-white">Ver video de ayuda<i class="fe fe-arrow-right fe-16 ml-2"></i></a>
                </div> <!-- .card-body -->
            </div> <!-- .card -->
        </div> <!-- .col-md-->
    </div> <!-- .row -->
</div> <!-- .col-12 -->