
@{
    ViewData["Title"] = "Dashboard";
    
}

<div class="row justify-content-center">
    <div class="col-12">
        <div class="row align-items-center mb-2">
            <div class="col">
                <h2 class="h5 page-title">Bienvenido Ana Vásquez García</h2>
                <br>
                
            </div>
        </div> <!-- .row-->
    </div> <!-- .col-12 -->
</div> <!-- .row -->
