html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.select2 {
    width: 100% !important;
}

.short-text {
    display: none;
}

@media (max-width: 1200px) {
    .short-text {
        display: inline-block;
    }

    .full-text {
        display: none;
    }
}

select{
    appearance: auto !important;
}

.previous a {
    color: #6c757d !important;
}


.previous.disabled a{
    color: #adb5bd !important;

}

.next.disabled a {
    color: #adb5bd !important;
}

.next a{
    color:#6c757d !important;
}

.page-item a:hover {
    color: white !important;
}

.dropdown-menu a:active{
    color: white !important;
}

.dropdown-menu a {
    cursor: pointer !important;
}


.msg{
    color: darkred;
    font-weight: bold;
}